
.button_1
{
    font-family: "Ojuju", sans-serif;
    font-size: 20px;
    color: aquamarine;
    background-color: red;
    border-radius: 5px;
}

.instructions
{
    font-family: "Ojuju", sans-serif;
    font-size: 20px;
    color: aquamarine;
    background-color: royalblue;
    border-radius: 5px;

}

.heading
{
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-family: "Ojuju", sans-serif;
    color: aquamarine;
}

.heading h3
{
    display:inline;
}

.heading button
{
    float:right;
    border: 1px solid white;
}

h4{
    background-color: aqua;
    line-height: 2;
    margin: 0px;
}

ol{
    text-align: left;
    color: royalblue;
font-size: 22px;
}
